html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  color: #777777;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-image: url("./assets/images/silver.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  font-size: large;
  min-height: 100%;
  line-height: 100%;
  /* animation: fade 1s; */

}


h2 {
  font-size: x-large;
  font-weight: bold;
}

nav {
  position: static;
  top: 0;
  left: 0;
  z-index: 1100;
  border-bottom: solid #ccc;
}

button {
  background: none;
  display: inline-block;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  transition: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:active {
  transform: scale(0.99);
  box-shadow: none;
}
#adminControl{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

#adminControl .service {
  flex: 0 0 27.333333%;
max-width: 27.333333%;
  position: relative;
  height: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

#adminControl .booking {
  flex: 0 0 43%;
  max-width: 43%;
  position: relative;
  height: auto;
  width: 100%;
  padding: 15px;
}

#adminControl table{
  height:auto;
  width: 100%;
}

header {
  overflow: hidden;
  display:flex;
  width: 100vw;
  height: auto;
  max-height: 10vh;
  justify-content: center; 
  background-color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: small;
}
#address {  
  color: #666;
  margin: 0 auto;
}

#phone{
  color: #777;
  text-decoration: none;
  margin: 0 auto;
}
#logo {
  margin: 0 auto;
  height: 100%;
  max-height: 10vh;
  max-width: 100%;
  width: auto;
}

p {
  margin: 1vh;
}
span{
  display: inline-block;
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 8vh;
  border-top: solid thick silver;
  background-color: #666;
  overflow: hidden;
}

footer p {
  position: absolute;
  bottom: 40%;
  right: 40%;
  color: white;
  font-size: x-small;
}
footer a {
  text-decoration: none;
  align-self: flex-end;
  color: white;
  margin: 1%;
  padding: 0% 3% 0% 3%;
}

footer a:hover {
  background-color: #4aaaa5;
}

section div{
 text-align: center;

}

#apptForm {
  text-align: center;
}
#apptForm label {
  width: auto;
}
#apptForm input {
  width:100%;
}

.alertText {
  color: red;
}


#appointments, #directions, #services{

  position: relative;
  text-decoration: none;
  animation: fade 2s, slide 2s;

}

#map {
  width: 100%;
  height:100%;
}
#appointments div{
  position: absolute;
  bottom: 10%;
  left: 0%;
  font-size: medium;
  width: 100%;
  padding: 2% 0%;
  color: white;
  text-shadow: 1px 1px black;
  text-align: center;
}

#services div{
  position: absolute;
  bottom: 10%;
  left: 0%;
  font-size: medium;
  width: 100%;
  padding: 2% 0%;
  color: white;
  text-shadow: 1px 1px black;
  text-align: center;
}



#services img{
  margin: 1vh 1vw;
  width: auto;
  height: auto;
  min-width: 20vw;
  max-width: 30vw;
  max-height: 40vh;
  background-color: grey;
  border-radius: 5px;
  /* clip-path: polygon(50% 0%, 100% 7%, 100% 93%, 50% 100%, 0% 93%, 0% 7%); */
  box-shadow: 0px 5px 20px black;
}

#directions img{
  margin: 1vh 1vw;
  width: auto;
  height: auto;
  min-width: 20vw;
  max-width: 30vw;
  max-height: 40vh;
  background-color: grey;
  border-radius: 5px;
  /* clip-path: polygon(50% 0%, 100% 7%, 100% 93%, 50% 100%, 0% 93%, 0% 7%); */
  box-shadow: 5px 5px 20px black;
}

#appointments img{
  margin: 1vh 1vw;
  width: auto;
  height: auto;
  min-width: 20vw;
  max-width: 30vw;
  max-height: 40vh;
  background-color: grey;
  border-radius: 5px;
  /* clip-path: polygon(50% 0%, 100% 7%, 100% 93%, 50% 100%, 0% 93%, 0% 7%); */
  box-shadow: -5px 5px 20px black;
}
#directions div{
  position: absolute;
  bottom: 10%;
  left: 2%;
  font-size: medium;
  width: 100%;
  padding: 2% 0%;
  color: white;
  text-shadow: 1px 1px black;
  text-align: center;
}



#header-links {
  background-color: white;
  padding: 4% 2%;
}
#header-links a {
  font-size: medium;
  margin: 0 auto;
  padding: 0% 2%;
}

#header-links :nth-child(2) {
  border-left: solid thin lightgray;
  border-right: solid thin lightgray;
}

#section {
  text-align: left;
  color: black;
  background-color: white;
  
  height: auto;
  width: 88vw;
  margin: 0 auto;
  margin-top: 1vh;
  padding: 4vh 4vw 8vh 4vw;
  border: solid #ddd;
  flex: 1 0 auto;
  border-radius: 7px;
}

#section header h2 {
  text-align: left;
  color: #4aaaa5;
  padding: 5% 0%;
  border-bottom: solid lightgray;
}

#section section {
  display: flow-root;
  margin-top: 4vh;
}

 /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%;/* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  transition: opacity 600ms, visibility 600ms;
  animation: fade 1s;

}

@keyframes fade {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

@keyframes slide {
  0% {
    margin-left: -10vw;
  }
  100% {
    margin-left: 0vw;
  }
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15vh auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50vw; /* Could be more or less, depending on screen size */  

}

.modal-content table {
  margin: 0 auto;
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.logoutBtn {
  border: 1px black solid;
  background-color: grey;
  box-shadow: 1px 1px black;

}

.logoutBtn:active{
  box-shadow: none;
}